/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1{
    width: 100%;
    display: inline-block;
    text-align: center;
  }
  
  /* Styling the header */
  header {
    display: flex;                  /* Use flexbox layout */
    justify-content: center;        /* Center content horizontally */
    align-items: center;            /* Center content vertically */
    height: 100px;                  /* Fixed height for the header */
    background-color: #212121;         /* Dark background */
    color: #1eff8e;                   /* White text color */
    position: fixed;                /* Fixed position at the top */
    top: 0;
    left: 0;                        /* Align to the left of the screen */
    width: 100%;                    /* Full width */
    z-index: 1;                     /* On top of other content */
  }
  
  /* Styling the h1 element */
  header h1 {
    font-size: 24px;                /* Font size */
    font-weight: bold;              /* Font weight */
    color: white;                   /* White text color */
    margin: 0;                      /* Remove default margin */
    text-align: center;             /* Center text within the h1 */
  }
  
  /* Styling the horizontal rule */
  header hr {
    margin-top: 10px;              /* Margin above the horizontal rule */
    border: 1px solid #ee411a;   /* Border color */
    width: 100%;                   /* Full width */
  }
  
  /* Side menu styles */
  .sidenav {
    height: 100%;                  /* Full height */
    width: 0;                      /* Hidden by default */
    position: fixed;               /* Stay in place */
    z-index: 2;                    /* Behind the header */
    top: 0;                        /* Align to the top */
    left: 0;                       /* Align to the left */
    background-color: #111;       /* Dark background */
    overflow-x: hidden;            /* Disable horizontal scroll */
    transition: 0.5s;              /* Smooth transition for opening */
    padding-top: 60px;            /* Padding from the top */
  }
  
  /* Ensure header stays on top of the side menu when it's open */
  .sidenav-open header {
    margin-left: 250px;            /* Pushes the header to the right when the side menu opens */
  }
  